#addNewGroup {
  background-color: #00728c;
  border-radius: 25px;
  border: solid 2px transparent;
  color: #95c9d5;
  font-size: 45px;
  height: 50px;
  margin-bottom: 40px;
  padding: 0;
  line-height: 45px;
  width: 300px;
  &:active {
    border-color: #00728c;
    color: #00728c;
    background-color: #95c9d5;
  }
}
