:host {
  display: flex;
  margin: 5px;
}

mat-checkbox {
  margin-right: 10px;
}

input {
  background-color: transparent;
  border: none;
  border-bottom: solid 1px black;
  width: 92%;
  margin-right: 15px;
  &:focus {
    border: none;
    border-bottom: solid 1px #69f0ae;
    outline: none;
  }
  &.done {
    text-decoration-line: line-through;
  }
}

button {
  height: 24px;
  width: 24px;
  padding: 0;
  background-color: #69f0ae;
  border-radius: 24px;
  border: solid 1px #3a86ffd0;
  img {
    -webkit-user-drag: none;
  }
  &:active {
    background-color: transparent;
    border-color: #69f0ae;
  }
}
