:host {
  display: block;
  width: 100%;
  margin-bottom: 45px;
  mat-card-actions {
    display: flex;
    justify-content: space-between;
  }
}
mat-card {
  background-color: #00728c;
  button {
    height: 30px;
    width: 30px;
    border: solid 2px #95c9d5;
    border-radius: 30px;
    font-size: 25px;
    line-height: 25px;
    background-color: #95c9d5;
    color: #00728c;
    &:active {
      color: #95c9d5;
      background-color: transparent;
      border-color: #95c9d5;
    }
    &.removeGroup  {
      margin-right: 22px;
      & > img {
        position: relative;
        left: -4px;
        -webkit-user-drag: none;
      }
    }
    &.addTask {
      width: 160px;
    }
  }
  mat-card-title {
    padding-right: 60px;
    input {
      background-color: transparent;
      border: none;
      border-bottom: solid 1px #95c9d5;
      width: 100%;
      height: 35px;
      line-height: 35px;
      font-size: 30px;
      &:focus {
        border: none;
        border-bottom: solid 1px #95c9d5;
        outline: none;
      }
    }
  }
}
